<form class="profile-form" action="http://localhost:8080/api/sessions/login" method="post">
    <input
        class="profile-input" type="email" id="email" name="email" placeholder="Email"/><br /><br />
    <input class="profile-input" type="password" id="password" name="password" placeholder="Password"/><br /><br />

    <input class="profile-submit{{#if user}} disabled{{/if}}" {{#if user}}disabled{{/if}} type="submit"  value="Login" />

    <br>
    <p>Don't have an account yet? <a href="/register" class="orange">Sign Up</a> here</p>
    <p>Or login with: <a class="profile-loginwith" href="http://localhost:8080/api/sessions/github"><i class="fa-brands fa-github"></i></a> </p>

</form>