<h1> Fancy title </h1>
<main class="products-container">
    {{#each products}}
        <div class="products">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>${{price}}</p>
            {{#each thumbnail}}
                <img src="{{this}}" alt="">
            {{/each}}
        </div>
    {{/each}}
</main>