<header id="main-header">
    <div class="nav-logo">
        <img src="/logo.png" alt="">
        <p>Shop<p class="nav-highlight">Fruits</p></p>
    </div>
    <nav class="nav">
        <div id="toggle-nav">
            <span></span><span></span><span></span>
        </div>
        <ul class="nav-list">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/products">Products</a></li>
            <li class="nav-link"><a href="/carts"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>